body {
	margin: 0px;
}
h1 {
	text-align: center;
	margin-top: 50px;
}
#wrapper {
	background: rgb(245,241,232) url('../images/mozorg-gradient.png') repeat-x top center;
	border-top: 2px solid #fff;
	padding: 0em 2em 2em 2em;
	
}
.dependbugs div{
	display: inline;
}
table {
	width: 100%;
	border-radius: 5px;
	border: 1px solid black;
}
tr {
	background-color: white;
}

.closed {
	background-color: #64E986;
}

.open {
	background-color: #E18B6B;
}

#legend {
	text-align: center;
	width: 350px;
}

#loading {
	text-align: center;
}

/* Mozilla font */
@font-face { font-family: "OpenSans"; src: url(OpenSans-Light.ttf) format("truetype"); }
body {font: 16px/24px Georgia, serif;}

.huge, .large, h1, h2, h3, h4 {font-family: 'OpenSans', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-weight: normal; text-shadow: 0px 1px 0px rgba(255,255,255,0.75);}
th, td {font-family: 'OpenSans', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-weight: normal;}
.huge {font-size: 108px; letter-spacing: -4px; line-height: 100%;}
.large {font-size: 72px; letter-spacing: -3px; line-height: 100%;}
h1 {font-size: 48px; letter-spacing: -2px; line-height: 100%;}
h2 {font-size: 32px; letter-spacing: -1px; line-height: 100%;}
h3 {font-size: 28px; letter-spacing: -0.5px; line-height: 100%;}
h4 {font-size: 24px; letter-spacing: -0.25px; line-height: 100%;}
.small, small { font-size: 12px; line-height: 100%;} 